---
import Tag from "./Tag.astro";

interface Props {
    title: string;
    href: string;
    metaLine1?: string;
    metaLine2?: string;
    description?: string;
    links: { href: string; label: string }[];
    tags?: string[];
}

const { title, href, metaLine1, metaLine2, description, links, tags } =
    Astro.props;
---

<article class="item-card">
    <div class="item-content">
        <a href={href} class="item-title">
            <h3>{title}</h3>
        </a>

        {
            metaLine1 && (
                <div class="item-meta">
                    <span>{metaLine1}</span>
                </div>
            )
        }

        {
            tags && tags.length > 0 && (
                <div class="tags flex gap-3 flex-wrap my-4">
                    {tags.map((tag) => (
                        <Tag name={tag} size="sm" />
                    ))}
                </div>
            )
        }

        {
            metaLine2 && (
                <p class="font-semibold opacity-90 mt-4 mb-1">{metaLine2}</p>
            )
        }

        {description && <p class="opacity-80 line-clamp-3">{description}</p>}
    </div>

    <div class="item-links">
        {
            links.map((link) => (
                <a href={link.href} target="_blank">
                    {link.label} &rarr;
                </a>
            ))
        }
    </div>
</article>
