---
import { getEntry, render } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import BackLink from "../components/BackLink.astro";
import ContentHeader from "../components/ContentHeader.astro";
import ContentLinks from "../components/ContentLinks.astro";
import Tag from "../components/Tag.astro";
import { getUnifiedItem } from "../utils/adapters";

interface Props {
    collection:
        | "publications"
        | "talks"
        | "projects"
        | "posts"
        | "teaching"
        | "cv";
    id: string;
    readingTime?: string;
}

const { collection, id, readingTime } = Astro.props;
const entry = (await getEntry(collection, id)) as any;

if (!entry) return Astro.redirect("/404");

const { Content } = await render(entry);
const { meta, links, backHref, backLabel, title, tags } = getUnifiedItem(
    entry,
    collection,
);
---

<BaseLayout title={title}>
    <BackLink href={backHref} label={backLabel} />

    <article class="content-container pt-4">
        <ContentHeader title={title} meta={meta} />

        {
            tags && tags.length > 0 && (
                <div class="tags container-narrow flex gap-3 flex-wrap mb-10">
                    {tags.map((tag: string) => (
                        <Tag name={tag} size="md" />
                    ))}
                </div>
            )
        }

        <ContentLinks links={links} />

        <div class="prose container-narrow pt-8">
            <Content />
        </div>

        <slot name="footer" />
    </article>
</BaseLayout>
