---
import { THEMES, SETTINGS } from "../../config";
import DevToolsLayout from "../../layouts/DevToolsLayout.astro";

const redirect: boolean = import.meta.env.PROD && !SETTINGS.addDevToolsInProduction;
if (redirect) {
    return Astro.redirect("/404");
}
---

<DevToolsLayout title="Color Palettes" description="Minimalist 6-color strip visualizer directly mapping to themes.ts">

            <div class="flex flex-col gap-16">
                {
                    Object.entries(THEMES).filter(([name]) => !name.startsWith('isDark')).map(([name, colors]: [string, any]) => (
                        <div>
                            <h2 class="text-xl font-bold mb-4 capitalize">
                                {name.replace('_', ' ')}
                            </h2>
                            <div class="flex flex-wrap gap-4">
                                {Object.entries(colors).map(
                                    ([varName, hexValue]: [string, any]) => (
                                        <div class="flex flex-col gap-2">
                                            <div
                                                class="w-32 h-32 rounded-2xl shadow-sm transition-all duration-300 relative z-0 hover:z-10 hover:-translate-y-2 hover:shadow-xl cursor-pointer flex-shrink-0"
                                                style={`background-color: ${hexValue}`}
                                                title={`${varName}:\n${hexValue}`}
                                            />
                                            <div class="text-left px-1">
                                                <div class="font-mono text-sm font-bold opacity-80">{varName}</div>
                                                <div class="font-mono text-xs opacity-50 uppercase">{hexValue}</div>
                                            </div>
                                        </div>
                                    ),
                                )}
                            </div>
                        </div>
                    ))
                }
            </div>
</DevToolsLayout>